

.home-left-input{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-left-input input{
    margin-bottom: 1rem;
    height: 3rem;
    border: 1px solid #D9D9D9;

}

.home-left-input button{
    background-color:  #597EF7;
    height: 2.5rem;
    text-decoration: none;
    border: none;
}
 
.home-right input{
    margin-bottom: 1rem;
    height: 2rem;
    border: none;
}

.home-search{
    border: 1px solid #D9D9D9;
    height: 2.2rem;
}

.search-icon{
    margin-right: 1rem;
}

